<!DOCTYPE html>
<html>
    <head>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
        <link rel="stylesheet" href="Site.css">
    </head>
<body>

<div ng-app="myApp" ng-controller="myCtrl" class="container-fluid">

<p>Select Side:</p>

<select ng-change="SetSide()" ng-model="selectedSide" ng-options="y.Name for (x, y) in Sides"></select>

<div ng-show="SideSelected">
    <table id="AllInfo" class="table table-striped table-bordered table-hover">
        <tr>
            <th></th>            
            <th>Name</th>
            <th>Hole #</th>
            <th ng-repeat = "x in HoleInfo">{{x.H}}</th>        
        </tr>

        <tr>
            <th>Remove</th>
            <th></th>
            <th>Hcp</th>
            <th ng-repeat = "x in HoleInfo">{{x.Hcp}}</th>                
        </tr>
        
        <!--<tr ng-repeat = "x in Golfers | orderBy: selectedSide.Name == 'Front' ? 'HcpF' : 'HcpB' ">-->
        <tr ng-repeat = "x in Golfers | filter:{'show' : true} | orderBy: selectedSide.Name == 'Front' ? 'HcpF' : 'HcpB' ">
            <td><button class="btn btn-danger" ng-click="removeRow(x.Name)">X</button></td>
            <td>{{x.Name}}</td>
            <td>{{selectedSide.Name == "Front" ? x.HcpF : x.HcpB}}</td>
            <td ng-repeat = "y in x.Holes">
                <input class="scoreInput" type="number" ng-model="y.Score" max="10" min="1">
            </td>            
        </tr>    
    </table>

    <button class="btn btn-primary" ng-click="GetSkins()">Get Skins</button>

    <div id="SkinsTable" ng-hide="ShowSkins">
        <!-- Calculate if any scores get skins -->
        <label>Low Handicap: {{LowHcp}}</label>

        <table class="table table-striped table-bordered table-hover">
            <tr>
                <th>Name</th>
                <th>Hole</th>
                <th>Gross Score</th>
                <th>Net Score</th>
            </tr>
            <tr ng-repeat = "x in HoleSkins">
                <td>{{x.Name}}</td>
                <td>{{x.Hole}}</td>
                <td>{{x.Score}}</td>
                <td>{{x.HScore}}</td>
            </tr>
        </table>
    </div>
</div>

</div>

<script src="myApp.js"></script>
<script src="myCtrl.js"></script>

</body>
</html>